{% extends 'layouts/base.html' %}

{% block title %}Are you ready to go BEAST MODE!!!!!{% endblock %}
{% block meta_description %}Beast Mode fitness website{% endblock %}

{% block body %}
  <div class="container sm-margin-top">
    <div class="row text-center lg-margin-bottom">
      <h1>Ready to go Beastmode?</h1>
      <h3 class="text-muted">
        Join Me if you are not scared to unleash your Inner Beast!!!!!!!!!!
      </h3>
    </div>
    <div class="row text-center">
      <div class="col-lg-4">
        <i class="fa fa-fw fa-4x fa-bullhorn text-primary"></i>
        <h2>Meal Plans</h2>
        <p class="text-muted">Custom Meal Plans</p>
        <p>
          <a href="#" class="btn btn-default">Sign up</a>
        </p>
      </div>
      <div class="col-lg-4">
        <i class="fa fa-fw fa-4x fa-database text-primary"></i>
        <h2>Calories Calculator</h2>
        <p class="text-muted">Count You Calories</p>
        <p>
          <a href="#" class="btn btn-default">Sign up</a>
        </p>
      </div>
      <div class="col-lg-4">
        <i class="fa fa-fw fa-4x fa-trophy text-primary"></i>
        <h2>Training Program</h2>
        <p class="text-muted">Training Program Customized Just For You.</p>
        <p>
          <a href="#" class="btn btn-default">Sign up</a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
